
.container-fluid{
    width:100%;
    padding: 10px;  
    background-color: #FFFFFF;
}
.row4{
    width:100%;
}
.row4 img{
    width: 100%;
    height: 400px;
    padding: 10px;
}
.row4 h1{
    color: black;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif; 
    background-color: #ffffff;
}

.about-section {
    padding: 100px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1000px; 
}

.since-text {
    font-size: 42px;
    font-weight: 400;
    color: #111;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.description {
    font-size: 18px;
    line-height: 1.8; 
    color: #666; 
    font-weight: 300;
    margin: 0 auto;
    word-spacing: 2px;
}

@media (max-width: 600px) {
    .since-text {
        font-size: 32px;
    }
    .description {
        font-size: 16px;
    }
}


.features-section {
    padding: 80px 40px;
    display: flex;
    justify-content: center;
}

.feature-container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px;
}

.feature-item {
    text-align: left;
}

.icon {
    font-size: 35px;
    color: #d4a373;
    margin-bottom: 20px;
    display: block;
}

.feature-item h3 {
    font-size: 24px;
    font-weight: 500;
    color: #111;
    margin-bottom: 15px;
}

.feature-item p {
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    margin: 0;
}
@media (max-width: 768px) {
    .feature-container {
        grid-template-columns: 1fr;
        gap: 50px;
    }
}
.feature-item img{
width: 27px;
}

.info-section {
    padding: 40px;
    display: flex;
    justify-content: center;
}

.info-container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 வரிசைகள் */
    gap: 60px;
}

.info-box {
    text-align: left;
}

.icon {
    font-size: 32px;
    color: #e67e22; /* படத்தில் உள்ளவாறு ஆரஞ்சு/பிரவுன் நிறம் */
    margin-bottom: 25px;
    display: inline-block;
}

.info-box h3 {
    font-size: 26px;
    font-weight: 500;
    color: #1a1a1a;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
}

.info-box p {
    font-size: 16px;
    line-height: 1.8;
    color: #555;
    margin: 0;
}
